@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,300&family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%); */
  background-image: url(./5478774.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
}

nav {
  /* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */
  background-image: url(./nv.jpg);
  background-size: cover;
  color: white;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.508) 0px 13px 27px -5px, rgba(0, 0, 0, 0.53) 0px 8px 16px -8px;
}

.logo {
  font-weight: 800;
  font-size: 28px;
  cursor: pointer;
}
.logo img{
  width: 50px;
}

ul {
  display: flex;
  align-items: center;
}

ul > li {
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

nav li a {
  color: white;
  text-decoration: none;
  transition: all;
  transition-duration: 500ms;
}

nav li a:hover {
  transition: all 0.2s linear;
  text-decoration: none;
  color: rgb(255, 227, 218);
  letter-spacing: 1px;
}

.container {
  max-width: 80%;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff68;
  backdrop-filter: blur(32px);
  box-shadow: rgba(50, 50, 93, 0.707) 0px 50px 100px -20px, rgba(0, 0, 0, 0.707) 0px 30px 60px -30px;
  border-radius: 8px;
}

h1,
h2,
h3 {
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  background: #333;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  transition: all linear 0.2s;
  background-color: #555;
  transform: scale(1.03);
}
.table-container {
  overflow-x: auto; /* Add horizontal scrolling when needed */
}
table {
  width: 100%;
  /* overflow-x: auto; */
  margin: 20px 0;
  border-collapse: collapse;
  background-image: linear-gradient(45deg, #ebc0fd 0%, #d9ded8 100%);
}
table,
td,
th {
  border: 2px solid #000000;
}

td,
th {
  padding: 10px;
  text-align: center;
}

.table-header {
  background-color: #333;
  color: white;
}

.btn-sm {
  padding: 8px 15px;
  background: #333;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-sm:hover {
  transition: all linear 0.2s;
  background-color: #555;
  transform: scale(1.03);
}

.alert {
  display: none;
  color: #4caf50;
  font-weight: 700;
}

/* Style for copied message */
.copied {
  display: inline;
  color: #4caf50;
  font-weight: 700;
  margin-left: 5px;
}

/* Style for text input */
input[type="text"],
input[type="password"] {
  min-width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-image: linear-gradient(45deg, #a8edea 0%, #fed6e3 100%);
  margin-bottom: 15px;
  font-size: 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* Style for submit button */
input[type="submit"] {
  padding: 10px 20px;
  background: #333;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #555;
}
table i {
  cursor: pointer;
}

.custom-alert {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

/* Add this media query for screens with a maximum width of 600px (typical for mobile devices) */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    font-size: 12px;
  }

  nav ul li {
    margin: 5px 13px;
  }

  nav ul {
    justify-content: center;
  }

  .container {
    max-width: 97vw;
    padding: 20px;
  }

  label {
    font-size: 16px;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }

  .btn,
  .btnsm {
    padding: 10px 20px;
    margin: 10px 0;
  }
  table,
  td,
  tr {
    max-width: 97vw;
    font-size: 14px; /* Decrease font size for better mobile readability */
    padding: 4px;
    margin: 0;
  }
}

/* Your existing styles here for larger screens */
/* ... */
footer {
  font-family: "Poppins", sans-serif;
  text-align: center;
  backdrop-filter: blur(42px);
  color: white;
  background-color: rgba(0, 0, 0, 0.829);
  border-radius: 12px;
  padding: 20px 24px;
  box-shadow: 0 0 12px rgb(25, 25, 25);
}
footer a {
  text-decoration: none;
  color: antiquewhite;
}
footer a:hover {
  transition: all ease 0.2s;
  letter-spacing: 2px;
  color: white;
}
body::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar-thumb {
  display: none;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}
section {
  min-height: 100vh;
}